@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,200&display=swap");
* {
  padding: 0%;
  margin: 0px;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin-left: 30rem;
  width: 100vh;
  background-color: #34495e;
  display: flex;
  color: aliceblue;
  font-family: "Raleway", sans-serif;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.App {
  text-align: center;
}
.App-Link {
  color: #8be3fb;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 2rem;
  text-transform: capitalize;
}
.h1style{
    text-align: center;
    margin-top :2rem;
  background-color: aliceblue;
  color:rgb(42, 171, 214);
  border-radius: 35px;
  width:40rem;
  padding: 10px;
  font-weight: 700;
}
.btn{
    font-weight: bold;
    height: 2.5rem;
    font-size: 1.2rem;
    width:7rem;
  margin:auto;
  margin-top: 2rem;
  border:none;
  outline:none;
  padding:0.5rem 1.5rem;
  background-color: #2980b9;
  color: aliceblue;
  cursor: pointer;
  border-radius: 0.3rem;
}
.btn:hover{
  background-color:#136ca7;
}
.btninner{
  
        margin-left: 3rem;
        font-weight: bold;
        height: 2rem;
        font-size: 1.2rem;
        width:6rem;
      
      border:none;
      outline:none;
      padding:0.5rem 0.5rem;
      top:0;
      right:0;
      background-color: red;
      color: aliceblue;
      cursor: pointer;
      border-radius: 0.3rem;
    
}
.btninner:hover{
    background-color: rgb(212, 31, 31);
}